<!DOCTYPE html>
<html lang="es" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<div class="foot" data-th-fragment="foot">
		<div class="container bg-body-tertiary">
           <div class="container row">
	            <div class="col-3">
	            	<img alt="logo" src="/image/unfot.png" class="img-fluid">
	            </div>
	              <div class="col-6">
	                <h5 class="white-text">SAA - Coordinacion Unju Virtual</h5>
	                <p class="black-text text-lighten-5">
	               		La Secretaria de Asuntos Académicos (SAA), a través de la Subsecretaria de
	               		Educación a Distancia y la Subcomisión Tecnológica del SIED UNJu, es la 
	               		Plataforma de educacion a Distancia de la Universidad Nacional de Jujuy.
	                </p>
	              </div>
	              <div class="col-3">
	                <h5 class="black-text text-lighten-5" >Contactos</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/fiunju/" target="_blank">Facebook</a></li>
	                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/fiunju/" target="_blank" >Instagram</a></li>
	                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju/" target="_blank">Linkedin</a></li>
	                  <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A" target="_blank">Youtube</a></li>
	                </ul>
	              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2024 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">newellsito@gmail.com</a>
            </div>
          </div>
	</div>
	
	
	<script data-th-href="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
		type="text/javascript"></script> 
</body>
</html>